<ion-view title="Dashbord-larer" id="page5" style="background-color:#F1F4ED;">
    <ion-content padding="true" class="has-header">
        <a ui-sref="lekserpMinnelse" id="dashbordLarer-button13" class="button button-positive  button-block">Lekserpåminnelse</a>
        <a ui-sref="mineKlasser" id="dashbordLarer-button14" class="button button-positive  button-block">Mine klasser</a>
        <a ui-sref="sOS" id="dashbordLarer-button15" class="button button-positive  button-block">SOS</a>
        <a ui-sref="login" id="dashbordLarer-button16" class="button button-assertive  button-block">Log out</a>
    </ion-content>
</ion-view>