<ion-view title="Dashbord-elev" id="page4" class="bg">
    <!--<ion-content padding="true" class="page-padding mid-position">-->
    <ion-content padding="true" class="midposisjon">
        <a ui-sref="timeplan" id="dashbordElev-button9" class="button button-positive  button-block btn-size">Timeplan</a>
        <a ui-sref="lekseplan" id="dashbordElev-button10" class="button button-positive  button-block btn-size">Lekseplan</a>
        <a ui-sref="fravR" id="dashbordElev-button11" class="button button-positive  button-block btn-size">Fravær</a>
        <a ui-sref="login" id="dashbordElev-button12" class="button button-assertive  button-block btn-size">Log out</a>

    </ion-content>
</ion-view>
