<ion-view title="Dashbord-elev" id="page4" style="background-color:#F1F4ED;">
    <ion-content padding="true" class="has-header">
        <a ui-sref="timeplan" id="dashbordElev-button9" class="button button-positive  button-block">Timeplan</a>
        <a ui-sref="lekseplan" id="dashbordElev-button10" class="button button-positive  button-block">Lekseplan</a>
        <a ui-sref="fravR" id="dashbordElev-button11" class="button button-positive  button-block">Fravær</a>
        <a ui-sref="login" id="dashbordElev-button12" class="button button-assertive  button-block">Log out</a>
    </ion-content>
</ion-view>