<ion-view title="Dashbord-larer" id="page5" class="bg">
    <!--<ion-content padding="true" class="page-padding mid-position">-->
    <ion-content padding="true" class="midposisjon">
        <a ui-sref="lekserpMinnelse" id="dashbordLarer-button13" class="button button-positive  button-block btn-size">Lekserpåminnelse</a>
        <a ui-sref="mineKlasser" id="dashbordLarer-button14" class="button button-positive  button-block btn-size">Mine klasser</a>
        <a ui-sref="sOS" id="dashbordLarer-button15" class="button button-positive  button-block btn-size">SOS</a>
        <a ui-sref="login" id="dashbordLarer-button16" class="button button-assertive  button-block btn-size">Log out</a>
    </ion-content>
</ion-view>
