<ion-view title="Dashbord-elev" id="page4" class="bg">
    <!--<ion-content padding="true" class="page-padding mid-position">-->
    <ion-content padding="true" class="has-header">
      <br>

        <a ui-sref="timeplan" id="dashbordElev-button9" class="button button-positive  button-block">Timeplan</a>
        <a ui-sref="lekseplan" id="dashbordElev-button10" class="button button-positive  button-block">Lekseplan</a>
        <a ui-sref="fravR" id="dashbordElev-button11" class="button button-positive  button-block">Fravær</a>
        <a ui-sref="meldingElev" id="dashbordElev-button13" class="button button-positive button-block">Melding</a>
        <a ui-sref="login" id="dashbordElev-button12" class="button button-assertive  button-block">Log out</a>

        
    </ion-content>


</ion-view>
