<ion-view title="Fravær" id="page8" class="bg">
    <div>
        <ion-nav-bar class="bar-green" align-title="center">
            <ion-nav-back-button class="button-icon icon ion-ios-arrow-back back-btn"> Back</ion-nav-back-button>
        </ion-nav-bar>

    </div>
    <!--<ion-content padding="true" class="page-padding mid-position">-->
    <ion-content padding="true" class="midposisjon">
        <form class="list">
            <ion-checkbox name="sykKnapp">Jeg er syk</ion-checkbox>
        </form>
        <a ui-sref="dashbordElev" id="fravR-button17" class="button button-positive  button-block">Submit</a>
        <a ui-sref="dashbordElev" id="fravR-button18" class="button button-assertive  button-block">Cancel</a>
    </ion-content>
</ion-view>
