<ion-view title="Lekserpåminnelse" id="page9" style="background-color:#F1F4ED;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="leksernotification">
                <span class="input-label">Text</span><textarea placeholder="Leksepåminnelse"> </textarea>
            </label>
        </form>
        <a ui-sref="dashbordLarer" id="lekserpMinnelse-button19" class="button button-positive  button-block">Submit</a>
        <a ui-sref="dashbordLarer" id="lekserpMinnelse-button20" class="button button-assertive  button-block">Cancel</a>
    </ion-content>
</ion-view>