<ion-view title="Login" id="page1" class="bg">
    <ion-content padding="true" class="midposisjon">
    <!--<ion-content padding="true" class="page-padding mid-position">-->
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Brukernavn">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Passord">
                </label>
            </ion-list>
            <br>
            <a ui-sref="dashbordElev" id="login-button6" class="button button-positive  button-block">Log in</a>
<!--            <a ui-sref="dashbordElev" id="loginElev-button6" class="button button-stable  button-block">Log in</a> -->
        </form>
    </ion-content>
</ion-view>
