<ion-view title="Login" id="page1" style="background-color:#F1F4ED;">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <div id="login-markdown1" style="color:#000000;font-size:27px;text-align:center;">
            <p>HVEM ER DU?</p>
        </div>
        <div class="spacer" style="width: 283px; height: 40px;"></div>
        <a ui-sref="loginLarer" id="login-button2" class="button button-positive  button-block">Lærer</a>
        <a ui-sref="loginElev" id="login-button3" class="button button-positive  button-block">Elev</a>
    </ion-content>
</ion-view>