<ion-view title="Login-larer" id="page2" style="background-color:#F1F4ED;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <div class="spacer" style="height: 40px;"></div>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="dashbordLarer" id="loginLarer-button4" class="button button-stable  button-block">Log in</a>
            <a ui-sref="login" id="loginLarer-button7" class="button button-stable  button-block">Cancel</a>
        </form>
    </ion-content>
</ion-view>