<ion-view title="Melding" id="page12" class="bg">
    <div>
        <ion-nav-bar class="bar-green" align-title="center">
            <ion-nav-back-button class="button-icon icon ion-ios-arrow-back back-btn"> Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </div>
    <ion-content padding="true" class="has-header">
      <br>
      <div class="list">
          <a class="item">
            <h2>Mr. Olsen</h2>
            <p>Jeg er syk</p>
            <p>13:55 03/05/2016</p>
          </a>
      </div>
    </ion-content>
</ion-view>
