<ion-view title="SOS" id="page11" class="bg">
    <div>
        <ion-nav-bar class="bar-green" align-title="center">
    <!--<ion-content padding="true" class="page-padding mid-position">-->
            <ion-nav-back-button class="button-icon icon ion-ios-arrow-back back-btn"> Back</ion-nav-back-button>
        </ion-nav-bar>
    </div>
    <ion-content padding="true" class="midposisjon">
        <button id="sOS-button21" class="button button-assertive  button-block btn-size">Brann</button>
        <button id="sOS-button22" class="button button-assertive  button-block btn-size">Urolighet</button>
        <button id="sOS-button23" class="button button-assertive  button-block btn-size">Bevæpnet personer</button>
    </ion-content>
</ion-view>
